form.form-signin {
    background-color: #36394a;
    width: 100%;
    border-radius: 0.2rem;
    max-width: 580px;
    text-align: center;
    color: white;
    margin: 1rem auto;
    padding-bottom: 2rem;
}

.logoimg {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 80%;
}

.form-group {
    margin-top: 2rem;
}

input.form-control::placeholder {
    text-align: center;
    color: white;
    text-color: white;
}

#loginbutton {
    background-color: #0b1d2b;
    width: 50%;
    border-color: transparent;
    margin-top: 2rem;
}

#registerbutton {
    background-color: #0b1d2b;
    width: 100%;
    border-color: transparent;
}

input.form-control {
    display: block;
    width: 50%;
    font-size: 1rem;
    line-height: 1.25;
    text-align: center;
    margin: auto;
    outline: none;
    color: white;
    background-color: transparent;
    border: 0px solid;
    border-radius: 0rem;
    transition: width 0.35s ease-in-out;
    border-bottom-width: 1px;
}

input.form-control:focus {
    display: block;
    outline: none;
    width: 70%;
    border-color: transparent;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: width 0.35s ease-in-out;
    line-height: 1.25;
    color: white;
    background-color: transparent;
    border: 0px solid;
    border-radius: 0rem;
    border-bottom-width: 1px;
}

input.form-control:focus::placeholder {
    color: transparent;
}

#password2_help,
#password1_help {
    display: none;
}

#password2_help.invalid,
#password1_help.invalid {
    display: block;
}

@keyframes welcomeLoadBg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.invisible {
    display: none;
}

